@media (min-width: 768px) and (max-width: 1199px) {
    header #navbar {
      display: none;

    }
    header .mobile-navbar {
      display: block;
    }
header .mobile-navbar {
    	width: 100%;
	height: 84px; 
	
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
      cursor: pointer;
    display: inline-block;
    float: right;
    padding: 40px 20px;
    margin-right: 80px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
  background: #009cb4;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 23px;
  color: #009cb4;
}

.header .menu-icon .navicon-title {
      position: absolute;
    top: 33px;
    left: 50px;
    text-transform: uppercase;
    font-family: VAGRoundedCEBold;
    font-size: 18px;
    color: #009cb4;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
 background: #009cb4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header-img .title-section .header-title {
    color: white;
    font-size: 60px;
    text-align: left;
    font-family: VAGRoundedCEBold;
    font-weight:bold;
    width: 650px;
}

.header-img .title-section .header-desc {
	color: white;
	font-size: 36px;
	text-align: left;
 
}

.header-img .title-section {
	padding: 150px 0px 50px 40px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.nav-signup-btns {
		position:relative;
		height: 70px;
    margin-top: 80px;
}

    #cookie-message .cookie-message {

	width: 70%;
    }

#cookie-message {
	display: flex;
  flex-wrap: wrap;
  height: 260px;
  padding: 50px 20px 50px 30px;
  top:-260px;
}


#quiz {
	background: white;
}


#blog .content {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 50px;
    margin: auto;
}

.gold-btn {
  font-size: 26px;
}
#rady-tipy .content {
	padding-left: 0px;

}
#rady-tipy {
  padding: 65px 0px;
}
#rady-tipy .content .btn-container {
   margin: 20px;
}

}



