/*
Theme Name: Twenty Seventeen
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/



html,body {
	margin: 0px;
	padding: 0px;
}



@font-face {
    font-family: VAGRoundedCE-Light;
    src: url('./assets/font/VAGRounded-Lit.ttf');
}

@font-face {
    font-family: VAGRoundedCEBlack;
    src: url('./assets/font/VAGRoundedBlack.ttf');
}

@font-face {
    font-family: VAGRoundedCEBold;
    src: url('./assets/font/VAGRoundedBold.ttf');

}

* {
	font-family: VAGRoundedCE-Light;
	font-size: 18px;
}

header #navbar{
	width: 100%;
	height: 84px; 
	display: flex;
	align-items: center;
	justify-content: center;
}

header a {
	text-decoration: none;
	font-family: VAGRoundedCE-Light;
	font-size: 18px;
	color: #77787b;
	text-transform: uppercase;
	padding: 0px 15px;
}

.arrow-btn {
	background-image: url('./assets/images/nav_r_arrow_btn.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100%;
	text-align:left;
	padding-left: 20px;
	line-height: 50px;
	color: white;
}

.header-right {
	position: absolute;
	top: 17px;
	right: 40px;
	width: 136px;
	height: 50px;	
}

.header-left {
	position: absolute;
	top: 17px;
	left: 40px;
	width: 129px;
	height: 53px;	
}

.logo-btn {
	background-image: url('./assets/images/logo_btn.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;	
}

.header-img {
	width: 100%;
	height: 714px;
	background-image: url('./assets/images/homepage-bg.jpg');
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-img .title-section .header-title {
	color: white;
	font-size: 90px;
	text-align: left;

}

.header-img .title-section .header-desc {
	color: white;
	font-size: 55px;
	text-align: left;

}

.header-img .title-section {
	padding: 60px 200px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}


.btn {
	background-color: white;
    color: gray;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    padding: 20px 30px 20px 30px;
	box-sizing:border-box;
}

.nav-signup-btns {
		position:relative;
		height: 70px;
}

.nav-signup-btns .signup-btn {
	
	box-sizing: border-box;
		display: inline-block;
	
}

.register-btn {
	margin-left: -5px;
    color: white;
    display: inline-block;
    background-color: #009cb4;
    position: relative;
}

.left-arrow {
	display: inline-block;
    background: url(./assets/images/right-arrow.png);
    width: 40px;
    height: 100%;
    /* background-size: 100%; */
    background-size: 100% 100%;
    position: absolute;
}

#cookie-message {
	display: flex;
	width: 100%;
	height: 173px;
	align-items: center;	
	padding: 0px 20px;
	position: relative;
	top: -173px;
	background: #fafafa;
	box-sizing: border-box;
}

#cookie-message .cookie-message {

	width: 820px;
	font-size: 22px;
	color: #aaaaaa;
	margin: 20px;
	box-sizing: border-box;
}

#cookie-message .cookie-button {
	position:relative;
		height: 66px;
		box-sizing: border-box;
}

#cookie-message .cookie-image {
	background: url(./assets/images/cookie-logo.png);
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	margin-left: 20px;
}

#cookie-message .cookie-button .cookie-confirm-btn {
	text-transform: uppercase;
	margin-left: -5px;
    color: white;
    display: inline-block;
    background-color: #009cb4;
	font-weight: bold;
    position: relative;
	padding: 20px 10px 20px 20px;
	font-size: 22px;
}

.red-link {
	color: #eb5a49;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}


/* Benefits */

#benefits {
	width: 100%;
	padding: 50px 0px;
	
}

#benefits .benefits-title {
	color : #eb5949;
	font-size: 55px;
	font-weight: bold;
	text-align: center; 	
}


#benefits .benefits-desc {
	color : #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	text-align: center; 	
}

#benefits .benefit-cards {
	width: 550px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

#benefits .benefit-cards .benefit-card {
	width: 220px;
	text-align: center;
}

.benefit-card .card-img {
	width: 150px;
	height: 150px;
	margin: 35px;
}

.benefit-card .card-desc {
	font-size: 18px;
	color: #7c7b7b;
	text-align: center;

}

.card-img-1 {
	background: url(./assets/images/benefit1.png);
	background-size: 100% 100%;
}

.card-img-2 {
	background: url(./assets/images/benefit2.png);
	background-size: 100% 100%;
}

#quiz {
	width: 100%;
	height: 930px;	
	text-align: center;
	background: url(./assets/images/quiz-bg.png);
	background-size: 100% 100%;
	position: relative;
}
#quiz .quiz-header {
	text-align: center; 
	padding: 60px;	
}

#quiz .quiz-header .title {
	font-size: 55px;
	color: #eb5949;
	font-weight: bold;
}

#quiz .quiz-header .desc {
	font-size: 28px;
	line-height: 36px;
	color: #aaaaaa; 
	font-weight: bold;	
}

#quiz .quiz-footer {
	position:absolute;
	width: 100%;
	text-align: center;
	bottom: 80px;
}
#quiz .quiz-popup-box {
	width: 750px;
	padding: 50px; 
	text-align: center;
	background-color: white;
	box-shadow: 0px 1px 15px 0 rgba(0,0,0,0.05);
	margin: auto;
}

#quiz .quiz-popup-box p {
	font-size: 42px;
	color: #f2920a;
	line-height: 50px;
	text-decoration: none;
	font-transform: uppercase;
	font-weight: bold;
}

.font-22 {
	font-size: 22px;
}

.submit-btn {
	margin-left: 0px;
    color: white;
    display: inline-block;
    background-color: #009cb4;
    position: relative;
	text-transform: uppercase;
	padding: 16px 30px;
	text-decoration: none;
}

.quiz-btn-container {
	position:relative;
	height: 62px;
}

.font-18 {
	font-size: 18px;
}

.blog-header-img {
	background: url('./assets/images/blog-header-img.png');
	background-size: 100% 100%;
	width: 100%;
	height: 350px;

}

.blog-title {
	width: 100%;
	text-align: center; 
	vertical-align: center;
	line-height: 200px;
	height: 200px;
	font-size: 55px;
	color: #eb5949;
}

#blog .content {
	width: 900px;
	margin: auto;
}

#blog .content  .blog-image {
	width: 100%;
	height: 500px;
	background: url('./assets/images/blog-content-img.png');
	background-size: 100% 100%;
	
}

.hippies {
	color: #f2920a;
	font-size: 42px;
	text-decoration: none;
	
}

#blog .content .blog-content {
	font-size: 18px;
	color: #7c7b7b;
	padding: 50px 0px;
	text-align: center;
}

#blog .content .blog-content hr {
	width: 60px;
	border: solid 2px #f2920a;
}

#blog .content .ellipsis {
	width: 100%;
	height: 20px;
	text-align: center;
	margin: 50px 0px;
}

.ellipsis-item {
	width: 20px;
	height: 20px; 
	border-radius: 10px;
	background-color: #009cb4;
	display: inline-block;
}

#blog .comment {
	text-align: center;
}

.comment .title {
	color: #eb5c4c;
	font-size: 42px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;

}

.comment .desc {
	font-size: 28px;
	color: black;
	line-height: 1.29;
	font-weight: bold;
	text-align: center;
}

.comment .comment-link {
	color: #ed7264;
	font-size: 26px;
	padding-bottom:50px;

}

.comment .btn-container {
	position: relative;
	height: 62px;
	margin:30px;
}


.gold-btn {
	margin-left: 0px;
    color: white;
    display: inline-block;
    background-color: #f2920a;
    position: relative;
	text-transform: uppercase;
	padding: 16px 30px;
	text-decoration: none;
}

.gold-btn-arrow {
	  background: url(./assets/images/gold-btn-arrow.png);
	  background-size: 100% 100%;
}

.white-btn-arrow {
	  background: url(./assets/images/white-btn-arrow.png);
	  background-size: 100% 100%;
}


#rady-tipy {
	width: 100%;
	padding: 65px;	
	background-color: #009cb4;
	text-align: center;
	box-sizing: border-box;
	
}

#rady-tipy .title { 
	font-size: 45px;
	font-weight: bolds;
	letter-spacing: 1.8px;
	font-family: VAGRoundedCEBold;
	width: 100%;
	padding: 45px 0px;
	color: white;
}

#rady-tipy .content {
	padding-left: 250px;
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}

#rady-tipy .content .btn-container {
	position: relative;
	height: 68x;
	margin:30px;
}

#rady-tipy .link a {
	color: white;
	font-size: 26px;
	
}

.white-btn {
	font-family: VAGRoundedCEBold;
	margin-left: 0px;
    color: #7c7b7b;
    display: inline-block;
    background-color: white;
    position: relative;
	padding: 16px 30px;
	text-decoration: none;
	font-size: 36px;
}

.font-gold  {
	color: #f39200;
	font-size: 36px;
}

#footer {
	width: 100%;
	height: 130px;
	background: #fafafa;
}

#footer .left-side {
	float: left;
	padding: 30px;
		display: flex;
	align-items: center;
}

#footer .left-side .app-name {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 23px;
}

#footer .left-side a {
	text-decoration: none;
	color: #77787b;
	font-size: 18px;
	padding: 20px;

}

#footer .right-side .company-logo {
	width: 160px;
	height: 80px;
	background: url('./assets/images/company-logo.png');
	background-size: 100% 100%;
	
}

#footer .right-side {
	display: flex;
	align-items: center;
	float: right;
	height: 130px;
	
}

